node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
.env
.nyc_output
coverage
.nyc_output
.nycrc
.vscode
.idea
*.log
*.bat
*.md
*.txt
test-*
client/src
client/public
client/node_modules
client/package-lock.json
client/.gitignore
client/README.md
